In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('total_and_goal_nutrition.csv')

In [4]:
df

,Date,total_sugar,total_sodium,total_carbs,total_protein,total_fat,total_calories,goal_sugar,goal_sodium,goal_carbs,goal_protein,goal_fat,goal_calories
0,2014-09-14,109.0,3658.0,340.0,186.0,114.0,2924.0,119.0,2300.0,396.0,160.0,105,3173.0
1,2014-09-15,63.0,855.0,96.0,50.0,37.0,2430.0,59.0,2300.0,196.0,79.0,52,1572.0
2,2014-09-16,100.0,2215.0,158.0,114.0,54.0,1862.0,69.0,2300.0,229.0,92.0,61,1832.0
3,2014-09-17,105.0,1765.0,187.0,98.0,60.0,2251.0,63.0,2300.0,210.0,85.0,56,1685.0
4,2014-09-18,71.0,1101.0,113.0,202.0,81.0,2001.0,60.0,2300.0,199.0,80.0,53,1597.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
587182,2015-03-02,0.0,0.0,0.0,0.0,0.0,0.0,76.0,0.0,252.0,101.0,67,2017.0
587183,2015-03-03,0.0,0.0,0.0,0.0,0.0,0.0,67.0,0.0,225.0,90.0,60,1799.0
587184,2015-03-04,0.0,0.0,0.0,0.0,0.0,0.0,72.0,0.0,240.0,96.0,64,1920.0
587185,2015-03-14,0.0,0.0,0.0,0.0,0.0,0.0,79.0,0.0,265.0,106.0,71,2118.0
587186,2015-03-15,0.0,0.0,0.0,0.0,0.0,0.0,72.0,0.0,240.0,96.0,64,1920.0

In [5]:
df['average_sugar_consumed'] = (df['total_sugar'] / df['goal_sugar']) * 100
df['average_sodium_consumed'] = (df['total_sodium'] / df['goal_sodium']) * 100
df['average_carbs_consumed'] = (df['total_carbs'] / df['goal_carbs']) * 100
df['average_protein_consumed'] = (df['total_protein'] / df['goal_protein']) * 100
df['average_fat_consumed'] = (df['total_fat'] / df['goal_fat']) * 100
df['average_calories_consumed'] = (df['total_calories'] / df['goal_calories']) * 100

In [6]:
df

,Date,total_sugar,total_sodium,total_carbs,total_protein,total_fat,total_calories,goal_sugar,goal_sodium,goal_carbs,goal_protein,goal_fat,goal_calories,average_sugar_consumed,average_sodium_consumed,average_carbs_consumed,average_protein_consumed,average_fat_consumed,average_calories_consumed
0,2014-09-14,109.0,3658.0,340.0,186.0,114.0,2924.0,119.0,2300.0,396.0,160.0,105,3173.0,91.596639,159.043478,85.858586,116.250000,108.571429,92.152537
1,2014-09-15,63.0,855.0,96.0,50.0,37.0,2430.0,59.0,2300.0,196.0,79.0,52,1572.0,106.779661,37.173913,48.979592,63.291139,71.153846,154.580153
2,2014-09-16,100.0,2215.0,158.0,114.0,54.0,1862.0,69.0,2300.0,229.0,92.0,61,1832.0,144.927536,96.304348,68.995633,123.913043,88.524590,101.637555
3,2014-09-17,105.0,1765.0,187.0,98.0,60.0,2251.0,63.0,2300.0,210.0,85.0,56,1685.0,166.666667,76.739130,89.047619,115.294118,107.142857,133.590504
4,2014-09-18,71.0,1101.0,113.0,202.0,81.0,2001.0,60.0,2300.0,199.0,80.0,53,1597.0,118.333333,47.869565,56.783920,252.500000,152.830189,125.297433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587182,2015-03-02,0.0,0.0,0.0,0.0,0.0,0.0,76.0,0.0,252.0,101.0,67,2017.0,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
587183,2015-03-03,0.0,0.0,0.0,0.0,0.0,0.0,67.0,0.0,225.0,90.0,60,1799.0,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
587184,2015-03-04,0.0,0.0,0.0,0.0,0.0,0.0,72.0,0.0,240.0,96.0,64,1920.0,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
587185,2015-03-14,0.0,0.0,0.0,0.0,0.0,0.0,79.0,0.0,265.0,106.0,71,2118.0,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
587186,2015-03-15,0.0,0.0,0.0,0.0,0.0,0.0,72.0,0.0,240.0,96.0,64,1920.0,0.000000,NaN,0.000000,0.000000,0.000000,0.000000

In [13]:
df2 = df.fillna(0.000000)

In [14]:
df2

,Date,total_sugar,total_sodium,total_carbs,total_protein,total_fat,total_calories,goal_sugar,goal_sodium,goal_carbs,goal_protein,goal_fat,goal_calories,average_sugar_consumed,average_sodium_consumed,average_carbs_consumed,average_protein_consumed,average_fat_consumed,average_calories_consumed
0,2014-09-14,109.0,3658.0,340.0,186.0,114.0,2924.0,119.0,2300.0,396.0,160.0,105,3173.0,91.596639,159.043478,85.858586,116.250000,108.571429,92.152537
1,2014-09-15,63.0,855.0,96.0,50.0,37.0,2430.0,59.0,2300.0,196.0,79.0,52,1572.0,106.779661,37.173913,48.979592,63.291139,71.153846,154.580153
2,2014-09-16,100.0,2215.0,158.0,114.0,54.0,1862.0,69.0,2300.0,229.0,92.0,61,1832.0,144.927536,96.304348,68.995633,123.913043,88.524590,101.637555
3,2014-09-17,105.0,1765.0,187.0,98.0,60.0,2251.0,63.0,2300.0,210.0,85.0,56,1685.0,166.666667,76.739130,89.047619,115.294118,107.142857,133.590504
4,2014-09-18,71.0,1101.0,113.0,202.0,81.0,2001.0,60.0,2300.0,199.0,80.0,53,1597.0,118.333333,47.869565,56.783920,252.500000,152.830189,125.297433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587182,2015-03-02,0.0,0.0,0.0,0.0,0.0,0.0,76.0,0.0,252.0,101.0,67,2017.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587183,2015-03-03,0.0,0.0,0.0,0.0,0.0,0.0,67.0,0.0,225.0,90.0,60,1799.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587184,2015-03-04,0.0,0.0,0.0,0.0,0.0,0.0,72.0,0.0,240.0,96.0,64,1920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587185,2015-03-14,0.0,0.0,0.0,0.0,0.0,0.0,79.0,0.0,265.0,106.0,71,2118.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587186,2015-03-15,0.0,0.0,0.0,0.0,0.0,0.0,72.0,0.0,240.0,96.0,64,1920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [11]:
df1 = pd.read_csv('diaries.csv')

In [12]:
df1

,index,date,mealname,mealnutrition,totalnutrition
0,1,2014-09-14,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2924}...",NaN
1,1,2014-09-15,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2430}...",NaN
2,1,2014-09-16,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1862}...",NaN
3,1,2014-09-17,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2251}...",NaN
4,1,2014-09-18,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2001}...",NaN
...,...,...,...,...,...
587182,9897,2015-03-02,"[{""meal"": ""Breakfast"", ""dishes"": [{""nutritions...","{""total"": [{""name"": ""Calories"", ""value"": 1979}...",NaN
587183,9897,2015-03-03,"[{""meal"": ""Breakfast"", ""dishes"": [{""nutritions...","{""total"": [{""name"": ""Calories"", ""value"": 2141}...",NaN
587184,9897,2015-03-04,"[{""meal"": ""Breakfast"", ""dishes"": [{""nutritions...","{""total"": [{""name"": ""Calories"", ""value"": 543},...",NaN
587185,9897,2015-03-14,"[{""meal"": ""Breakfast"", ""dishes"": [{""nutritions...","{""total"": [{""name"": ""Calories"", ""value"": 2024}...",NaN
587186,9897,2015-03-15,"[{""meal"": ""Breakfast"", ""dishes"": [{""nutritions...","{""total"": [{""name"": ""Calories"", ""value"": 1496}...",NaN

In [15]:
frames = [df1,df2]

In [16]:
df1.shape

(587187, 5)

In [17]:
df2.shape

(587187, 19)

In [18]:
final_df = pd.concat(frames,axis=1)

In [34]:
final_df

,user_id,user_id,level_0,user_id,Date,total_sugar,total_sodium,total_carbs,total_protein,total_fat,...,goal_carbs,goal_protein,goal_fat,goal_calories,average_sugar_consumed,average_sodium_consumed,average_carbs_consumed,average_protein_consumed,average_fat_consumed,average_calories_consumed
0,0,0,0,1,2014-09-14,109.0,3658.0,340.0,186.0,114.0,...,396.0,160.0,105,3173.0,91.596639,159.043478,85.858586,116.250000,108.571429,92.152537
1,1,1,1,1,2014-09-15,63.0,855.0,96.0,50.0,37.0,...,196.0,79.0,52,1572.0,106.779661,37.173913,48.979592,63.291139,71.153846,154.580153
2,2,2,2,1,2014-09-16,100.0,2215.0,158.0,114.0,54.0,...,229.0,92.0,61,1832.0,144.927536,96.304348,68.995633,123.913043,88.524590,101.637555
3,3,3,3,1,2014-09-17,105.0,1765.0,187.0,98.0,60.0,...,210.0,85.0,56,1685.0,166.666667,76.739130,89.047619,115.294118,107.142857,133.590504
4,4,4,4,1,2014-09-18,71.0,1101.0,113.0,202.0,81.0,...,199.0,80.0,53,1597.0,118.333333,47.869565,56.783920,252.500000,152.830189,125.297433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587182,587182,587182,587182,9897,2015-03-02,0.0,0.0,0.0,0.0,0.0,...,252.0,101.0,67,2017.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587183,587183,587183,587183,9897,2015-03-03,0.0,0.0,0.0,0.0,0.0,...,225.0,90.0,60,1799.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587184,587184,587184,587184,9897,2015-03-04,0.0,0.0,0.0,0.0,0.0,...,240.0,96.0,64,1920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587185,587185,587185,587185,9897,2015-03-14,0.0,0.0,0.0,0.0,0.0,...,265.0,106.0,71,2118.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587186,587186,587186,587186,9897,2015-03-15,0.0,0.0,0.0,0.0,0.0,...,240.0,96.0,64,1920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [35]:
final_df.reset_index(inplace=True)
final_df.rename(columns={'index': 'user_id'}, inplace=True)

In [37]:
# final_df.drop(['date', 'mealname', 'mealnutrition', 'totalnutrition'], axis=1, inplace=True)

In [40]:
final_df

,user_id,user_id,user_id,level_0,user_id,Date,total_sugar,total_sodium,total_carbs,total_protein,...,goal_carbs,goal_protein,goal_fat,goal_calories,average_sugar_consumed,average_sodium_consumed,average_carbs_consumed,average_protein_consumed,average_fat_consumed,average_calories_consumed
0,0,0,0,0,1,2014-09-14,109.0,3658.0,340.0,186.0,...,396.0,160.0,105,3173.0,91.596639,159.043478,85.858586,116.250000,108.571429,92.152537
1,1,1,1,1,1,2014-09-15,63.0,855.0,96.0,50.0,...,196.0,79.0,52,1572.0,106.779661,37.173913,48.979592,63.291139,71.153846,154.580153
2,2,2,2,2,1,2014-09-16,100.0,2215.0,158.0,114.0,...,229.0,92.0,61,1832.0,144.927536,96.304348,68.995633,123.913043,88.524590,101.637555
3,3,3,3,3,1,2014-09-17,105.0,1765.0,187.0,98.0,...,210.0,85.0,56,1685.0,166.666667,76.739130,89.047619,115.294118,107.142857,133.590504
4,4,4,4,4,1,2014-09-18,71.0,1101.0,113.0,202.0,...,199.0,80.0,53,1597.0,118.333333,47.869565,56.783920,252.500000,152.830189,125.297433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587182,587182,587182,587182,587182,9897,2015-03-02,0.0,0.0,0.0,0.0,...,252.0,101.0,67,2017.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587183,587183,587183,587183,587183,9897,2015-03-03,0.0,0.0,0.0,0.0,...,225.0,90.0,60,1799.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587184,587184,587184,587184,587184,9897,2015-03-04,0.0,0.0,0.0,0.0,...,240.0,96.0,64,1920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587185,587185,587185,587185,587185,9897,2015-03-14,0.0,0.0,0.0,0.0,...,265.0,106.0,71,2118.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587186,587186,587186,587186,587186,9897,2015-03-15,0.0,0.0,0.0,0.0,...,240.0,96.0,64,1920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [41]:
final_df.to_csv('final_nutration.csv', index=False)

In [46]:
df_data=pd.read_csv('final_nutration.csv')

In [52]:
df_data.head(100)

,user_id,Date,total_sugar,total_sodium,total_carbs,total_protein,total_fat,total_calories,goal_sugar,goal_sodium,goal_carbs,goal_protein,goal_fat,goal_calories,average_sugar_consumed,average_sodium_consumed,average_carbs_consumed,average_protein_consumed,average_fat_consumed,average_calories_consumed
0,1,14-09-2014,109,3658,340,186,114,2924,119,2300,396,160,105,3173,91.596639,159.043478,85.858586,116.250000,108.571429,92.152537
1,1,15-09-2014,63,855,96,50,37,2430,59,2300,196,79,52,1572,106.779661,37.173913,48.979592,63.291139,71.153846,154.580153
2,1,16-09-2014,100,2215,158,114,54,1862,69,2300,229,92,61,1832,144.927536,96.304348,68.995633,123.913044,88.524590,101.637555
3,1,17-09-2014,105,1765,187,98,60,2251,63,2300,210,85,56,1685,166.666667,76.739130,89.047619,115.294118,107.142857,133.590504
4,1,18-09-2014,71,1101,113,202,81,2001,60,2300,199,80,53,1597,118.333333,47.869565,56.783920,252.500000,152.830189,125.297433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,24-12-2014,78,1098,145,56,52,2806,93,2300,310,124,83,2481,83.870968,47.739130,46.774194,45.161290,62.650602,113.099557
96,1,25-12-2014,0,0,0,0,0,3000,76,2300,253,101,67,2024,0.000000,0.000000,0.000000,0.000000,0.000000,148.221344
97,1,26-12-2014,111,3009,213,93,112,2238,87,2300,290,116,77,2322,127.586207,130.826087,73.448276,80.172414,145.454545,96.382429
98,1,27-12-2014,180,1994,269,108,114,2555,81,2300,270,108,72,2159,222.222222,86.695652,99.629630,100.000000,158.333333,118.341825
99,1,28-12-2014,75,1969,176,114,100,3335,99,2300,331,132,88,2644,75.757576,85.608696,53.172205,86.363636,113.636364,126.134645

In [48]:
merged_df = df_data.groupby(['user_id', 'Date']).sum().reset_index()

In [51]:
merged_df

,user_id,Date,total_sugar,total_sodium,total_carbs,total_protein,total_fat,total_calories,goal_sugar,goal_sodium,goal_carbs,goal_protein,goal_fat,goal_calories,average_sugar_consumed,average_sodium_consumed,average_carbs_consumed,average_protein_consumed,average_fat_consumed,average_calories_consumed
0,1,01-01-2015,123,3228,243,99,87,2253,82,2300,274,110,73,2192,150.000000,140.347826,88.686131,90.000000,119.178082,102.782847
1,1,01-02-2015,110,3151,275,140,104,2716,79,2300,262,105,70,2097,139.240506,137.000000,104.961832,133.333333,148.571429,129.518360
2,1,01-03-2015,36,2629,167,141,73,1769,85,2300,283,113,75,2260,42.352941,114.304348,59.010601,124.778761,97.333333,78.274336
3,1,01-10-2014,84,1940,170,197,92,2258,82,2300,272,110,72,2183,102.439024,84.347826,62.500000,179.090909,127.777778,103.435639
4,1,01-11-2014,122,1936,191,117,145,2943,78,2300,258,104,68,2070,156.410256,84.173913,74.031008,112.500000,213.235294,142.173913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587182,9897,28-01-2015,0,0,0,0,0,1130,77,0,257,103,68,2053,0.000000,0.000000,0.000000,0.000000,0.000000,55.041403
587183,9897,28-02-2015,0,0,0,0,0,0,72,0,240,96,64,1920,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587184,9897,29-01-2015,0,0,0,0,0,1455,80,0,267,107,71,2136,0.000000,0.000000,0.000000,0.000000,0.000000,68.117978
587185,9897,30-01-2015,0,0,0,0,0,1807,85,0,284,114,76,2271,0.000000,0.000000,0.000000,0.000000,0.000000,79.568472
587186,9897,31-01-2015,0,0,0,0,0,1325,59,0,195,78,52,1562,0.000000,0.000000,0.000000,0.000000,0.000000,84.827145

In [53]:
merged_df['overall_average_consumed'] = merged_df[['average_sugar_consumed', 'average_sodium_consumed', 'average_carbs_consumed', 'average_protein_consumed', 'average_fat_consumed', 'average_calories_consumed']].mean(axis=1)

In [56]:
merged_df

,user_id,Date,total_sugar,total_sodium,total_carbs,total_protein,total_fat,total_calories,goal_sugar,goal_sodium,...,goal_protein,goal_fat,goal_calories,average_sugar_consumed,average_sodium_consumed,average_carbs_consumed,average_protein_consumed,average_fat_consumed,average_calories_consumed,overall_average_consumed
0,1,01-01-2015,123,3228,243,99,87,2253,82,2300,...,110,73,2192,150.000000,140.347826,88.686131,90.000000,119.178082,102.782847,115.165814
1,1,01-02-2015,110,3151,275,140,104,2716,79,2300,...,105,70,2097,139.240506,137.000000,104.961832,133.333333,148.571429,129.518360,132.104243
2,1,01-03-2015,36,2629,167,141,73,1769,85,2300,...,113,75,2260,42.352941,114.304348,59.010601,124.778761,97.333333,78.274336,86.009053
3,1,01-10-2014,84,1940,170,197,92,2258,82,2300,...,110,72,2183,102.439024,84.347826,62.500000,179.090909,127.777778,103.435639,109.931863
4,1,01-11-2014,122,1936,191,117,145,2943,78,2300,...,104,68,2070,156.410256,84.173913,74.031008,112.500000,213.235294,142.173913,130.420731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587182,9897,28-01-2015,0,0,0,0,0,1130,77,0,...,103,68,2053,0.000000,0.000000,0.000000,0.000000,0.000000,55.041403,9.173567
587183,9897,28-02-2015,0,0,0,0,0,0,72,0,...,96,64,1920,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
587184,9897,29-01-2015,0,0,0,0,0,1455,80,0,...,107,71,2136,0.000000,0.000000,0.000000,0.000000,0.000000,68.117978,11.352996
587185,9897,30-01-2015,0,0,0,0,0,1807,85,0,...,114,76,2271,0.000000,0.000000,0.000000,0.000000,0.000000,79.568472,13.261412
587186,9897,31-01-2015,0,0,0,0,0,1325,59,0,...,78,52,1562,0.000000,0.000000,0.000000,0.000000,0.000000,84.827145,14.137857

In [57]:
merged_df.to_csv('average_consume_nutration.csv')

In [58]:
merged_df.to_parquet('average_consume_nutration.parquet')